body{
  background-color: white;
}

.top-header{
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
}

.card{
  width: 18em;
  margin: .5em auto;
}

#see-places{
  margin:auto;
  display:block;
}

.background-image{
width: 350px;
height: 250px;
}

.background-color{
  background-color: #DCDCDC;
}
